<div [ngClass]="theme()" class="app">
    <app-header (searchTerm)="search($event)"></app-header>
    <app-btn-add (tasks)="addTask($event)"></app-btn-add>
    <div class="tasks">
        @for (item of filteredTasks; track $index) {
            <app-task (taskCheckedId)="checkTask($event)" (taskDeleteId)="deleteTask($event)" [task]="item"></app-task>
        } @empty {
            <div [ngClass]="theme()" class="empty">
                <p>Your task list is empy!</p>
                <p>Click in "+" for add new task</p>
            </div>
        }
    </div>
</div>